In [3]:
# imports
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 104.0.5112
[WDM] - Get LATEST chromedriver version for 104.0.5112 google-chrome
[WDM] - Driver [C:\Users\sravi\.wdm\drivers\chromedriver\win32\104.0.5112.79\chromedriver.exe] found in cache

In [5]:
url = "https://redplanetscience.com/"   
browser.visit(url)

In [6]:
# Scrape page into Soup
html = browser.html
mars_soup = bs(html, "html.parser")
slide_elem = mars_soup.select_one('div.list_text')

In [12]:
# Retrieve the latest element that contains news title and news_paragraph
news_title = mars_soup.find_all('div', class_='content_title')[0].text
news_date= mars_soup.find_all('div', class_='list_date')[0].text 
news_p = mars_soup.find_all('div', class_='article_teaser_body')[0].text

In [15]:
print(f"Title: {news_title}")
print(f"Date: {news_date}")
print("-------------------------------------------------------------------")
print(f"Content: {news_p}")

Title: NASA Mars Mission Connects With Bosnian and Herzegovinian Town
Date: August 21, 2022
-------------------------------------------------------------------
Content: A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.

# JPL Mars Space Images - Featured Image

In [17]:
# * Visit the URL for the Featured Space Image site and scrap page into soup
jpl_url ='https://spaceimages-mars.com/'
browser.visit(jpl_url)
html = browser.html
image_soup = bs(html, "html.parser")

In [19]:
image_path = image_soup.find_all('img', class_="headerimage fade-in")[0]['src']
featured_image_url =jpl_url+image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts

In [30]:
facts_url = 'https://galaxyfacts-mars.com'
browser.visit(facts_url)
html = browser.html
facts_soup = bs(html, "html.parser")

In [31]:
tables = pd.read_html(facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
mars_facts=tables[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [33]:
mars_facts.columns= ["Attributes","Mars","Earth"]
mars_facts.drop(index=mars_facts.index[0], axis=0,inplace=True)
mars_facts.set_index('Attributes')

                               Mars            Earth
Attributes
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [34]:
facts_html=mars_facts.to_html()
facts_html.replace('\n','')
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attributes</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [36]:
hemi_url = 'https://marshemispheres.com/'
browser.visit(hemi_url)
html = browser.html
hemi_soup = bs(html, "html.parser")

In [38]:
# the section of the website that has the links
mars_hemi=hemi_soup.find_all('div', class_='item')
hemi_href=[]
for row in mars_hemi:
    hemi_href.append(hemi_url+ (row.find('a', class_='itemLink product-item')['href']))
hemi_href

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [40]:
# Create empty list
hemi_img_urls = []
# for loop to get title and image link
for url in hemi_href:
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    title = soup.find('h2', class_ = 'title').text
    par_url=soup.find('img', class_ = 'wide-image')['src']
    img_url = hemi_url + par_url
    hemi_img_urls.append({'title': title, 'img_url': img_url})

hemi_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]